<h1>SWAPI People Search</h1>

<form method="GET" action="/results">
    <label for="query">Search Query:</label>
    <input type="text" placeholder="Enter a character's name..." id="query" name="search" />

    <button type="submit">Search!</button>
</form>